PORT=6717
HOST=0.0.0.0
STATIC_DIR=.
DATA_DIR=./data
NODE_ENV=production
NOCODB_API_URL=http://mouss.synology.me:32771/api/v2/tables/md6q8riiyslkw6p/records
NOCODB_API_TOKEN=replace-with-your-nocodb-token
